<div class="example-container mat-elevation-z8">
  <h2>Corona Virus Cases List</h2>
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/add-cases']"><mat-icon>add</mat-icon> Cases</a>
    <a mat-flat-button color="accent" [routerLink]="['/cases-stat']"><mat-icon>bar_chart</mat-icon> Statistic</a>
  </div>
  <div class="mat-elevation-z8">
    <table class="table table-hover">
      <thead>
         <th>Case ID</th>
         <th>Cases Name</th>
         <th>Age</th>
         <th>Status</th>
      </thead>
      <tbody>

         <tr *ngFor="let case of data 
          ; let i = index" (click)="onViewCase(case) ">
            <td>{{case._id}}</td>
            <td>{{case.name}}</td>
            <td>{{case.age}}</td>
            <td>{{case.status}}</td>
            <td>
            </td>
         </tr>
      </tbody>
   </table>
  </div>
</div>
